body {
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: aquamarine; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* .contador {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.numero {
    font-size: 8em;
    margin: 20px 0;
    text-align: center;

}

.botao {
    background-color: aqua;
    color: #ffffff;
    padding: 10px 20 px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

.botao:hover {
    background-color: gold;
} */

.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: aquamarine;
    font-family: Arial, sans-serif;
}

.contadores {
    display: flex;
    justify-content: center;
}