.contador {
    background-color: turquoise;
    padding: 22px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 10px;
}

.numero {
    font-size: 8em;
    margin: 20px 0;
    text-align: center;

}

.botoes {
    display: flex;
    justify-content: space-around;
}

.botao {
    background-color: orange;
    color: #ffffff;
    padding: 10px 20 px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 4em;
    flex: 1;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.botao:hover {
    background-color: #0056b3;
}